<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boas-Vindas ao Banco Horizon Trust</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f0f0f0; color: #333; padding: 20px;">

<div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 30px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
    <h2 style="color: #007bff;">Bem-vindo ao Banco Horizon Trust!</h2>
    <p>Prezado(a) [[${name}]],</p>
    <p>Seja bem-vindo(a) ao Banco Horizon Trust! Estamos muito felizes por você ter escolhido abrir uma conta conosco.</p>
    <p>Agora você faz parte de uma instituição financeira dedicada a fornecer os melhores serviços e soluções para suas necessidades financeiras.</p>
    <p>Estamos aqui para ajudá-lo(a) a alcançar seus objetivos financeiros e garantir uma experiência bancária excepcional.</p>
    <p>Se precisar de qualquer assistência, não hesite em entrar em contato conosco.</p>
    <p>Obrigado por escolher o Banco Horizon Trust!</p>
    <p>Atenciosamente,<br>Equipe do Banco Horizon Trust</p>
</div>

</body>
</html>
